@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {background-color: #FFC845;}
* {margin: 0px auto;}
.blackarea-1{width: 100%;height: 300px;background: #000000;}
.blackarea-2{width: 100%;height: 300px;background: #000000;}
.blackarea-3{width: 100%;height: 300px;background: #000000;}
.back-style1 img {height: 300px;margin-left: 397px; float: right;}
.back-style2 img {height: 300px;margin-left: 397px; float: right;}
.back-style3 img {height: 300px;margin-left: 345px; float: left;}
.navigation {list-style:none;display:table;margin:0 auto;padding:0;}
.navigation li{float:left;margin-right:50px;margin-top: 20px;margin-bottom: 20px;}
.navigation li a{color: #000000;text-decoration:none;font-size:35px;}
.navigation li a:hover{color: #7DA1C4}
.navigation li a.active{color: #7DA1C4}
#nav-check {display: none;}
.images-index {width: 100%; height: 100%;}
.image1-index img {margin-top: -300px;margin-left: 70px;}
.image-museum img {margin-top: -300px;display: block;margin-left: auto;margin-right: auto; width: 60%;}
.text-image {font-size: 10px;width: 80%;font-family: 'Open Sans', sans-serif;margin-left: 70px;}
.logo-img {width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;}
.logo-img img {max-width: 100%;}
.background-image h1 {text-align: center;}
.background-image img {margin: auto; display: block; width: 60%;}
.paralellogram {width: 180px;height: 70px;background-color: #FFC845;transform: skewX(30deg);transform-origin: top;margin: 10px;display: flex;justify-content: center;align-items: center;margin: auto;margin-top: 400px;}
.paralellogram > span {transform: skewX(-30deg);}
.responsive-map iframe {margin-top: -300px;display: block;margin-left: auto;margin-right: auto; width: 60%;}
.text-image1 li {list-style: circle; color: #000000; font-size: 20px; font-family: open sans-serif; margin-left: -19px;}
.image-involved-1 img {margin-top: -180px;display: block;margin-left: auto;margin-right: auto; width: 60%;}
.image3-involved img {margin-top: -180px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;width: 30%;}



 
.top-area {width: 100%;height: 180px;background: #2E2E2E;}


.main-content-background {width: 100%;height: 100%; background: #2E2E2E;}
.main-content{display: flex;}
.main-content .box{flex-basis: 50%;padding: 10px 20px;}
.box h2{font-size: 1.125rem;font-weight: 600;text-transform: uppercase; color: #ffffff;}
.box .content{margin: 20px 0 0 0;position: relative;}
.text-underline {text-decoration: underline;}
.text {font-family: 'Poppins', sans-serif; color: #ffffff;}

.left .content p{text-align: justify;color: #ffffff;font-family: 'Poppins', sans-serif;}

.fab {margin-top: 60px;color: #FFFDE4;}

.center .content .text{font-size: 1.0625rem;font-weight: 500;}
.center .content .phone{margin: 15px 0;}
.right form .text{font-size: 1.0625rem;margin-bottom: 2px;color: #ffffff;}
.right form .msg{margin-top: 10px;}
.right form input, .right form textarea{width: 100%;font-size: 1.0625rem;background: #ffffff;padding-left: 10px;border: 1px solid #222222;}
.right form input:focus,
.right form textarea:focus{outline-color: #3498db;}
.right form input{height: 35px;}
.right form .btn{margin-top: 10px;}
.right form .btn button{height: 40px;width: 100%;border: none;outline: none;background: #f12020;font-size: 1.0625rem;font-weight: 500;font-family: ; cursor: pointer;transition: .2s;}
.right form .btn button:hover{background: #a91010;}
.bottom center{padding: 5px;font-size: 0.9375rem;background: #151515;}
.bottom center span{color: #656565;}
.bottom center a{color: #f12020;text-decoration: none;}
.bottom center a:hover{text-decoration: underline;}


/*Responsive*/


@media screen and (max-width: 900px) {
  .main-content{flex-wrap: wrap;flex-direction: column;}
  .main-content .box{margin: 5px 0;}
  .image-involved-1 img {margin-top: -180px;display: block;margin-left: auto;margin-right: auto; width: 100%;}
  .image3-involved img {width: 60%;}



}

@media (max-width:880px) {
.navigation li a{font-size:25px;}
.image-museum img {width: 100%;}
.responsive-map iframe {margin-top: -300px;display: block;margin-left: auto;margin-right: auto; width: 85%;}



}


@media (max-width:700px) {
.navigation li a{font-size:18px;}
.triangle-topright {display: none;}
}

@media (max-width:585px) {
.navigation li a{font-size:12px;}
}

@media (max-width:480px) {
  .nav-btn {display: inline-block;position: absolute;right: 0px;top: 0px;}
  .nav-btn > label {display: inline-block;width: 100%x;height: 100%;padding: 13px;}
  .nav-btn > label > span {display: block;width: 22px;height: 10px;border-top: 3px solid #eee;}
  .navigation {position: absolute;display: grid;width: 100%;background-color: #d6d2c4;height: 0px;transition: all 0.2s ease-in;overflow-y: hidden;top: 50px;left: 0px;opacity: 0.9;}
  .navigation > a {display: block;width: 100%;}
  #nav-check:not(:checked) ~ .navigation {height: 0px;}
  #nav-check:checked ~ .navigation {height: 50vh; overflow: auto;}
  .text-image {font-size: 10px;width: 80%;font-family: 'Poppins', sans-serif;margin-left: 0px;}
  .image1-index img {margin-left: 0px; width: 100%; height: 100%;}
  .blackarea-1 {background: none;}
  .blackarea-2 {background: none;}
  .blackarea-3 {background: none;}
  .back-style1 img {display: none;}
  .back-style2 img {display: none;}
  .back-style3 img {display: none;}
  .top-area {width: 100%;height: 43px;background: #2E2E2E; }
  .logo-img img {height: 100%; width: 90%; margin-left: 1%;margin-top: 2px;}
  .logo-img {justify-content: unset;}
  .navigation li a{font-size:25px;}
  .triangle-topright {display: none;}
  body {overflow-x: hidden;}
  .image1-index img {margin-left: 0px; max-width: 100%;}
  .responsive-map iframe {margin-top: -330px;display: block;margin-left: auto;margin-right: auto; width: 100%;}
  .image-involved-1 img {margin-top: -330px;display: block;margin-left: auto;margin-right: auto; width: 100%;}




  }


  /*Responsive*/
